
@model List<Empleado>

@{
    //NECESITAMOS SESSION EN LA VISTA PARA COMPROBAR SUS DATOS
    List<int> ids= Context.Session.GetObject<List<int>>("IDSEMPLEADOS");
    List<Empleado> favoritos=memoryCache.Get<List<Empleado>>("FAVORITOS");
}
<h1 style="color:orange">Empleados V5 Ok</h1>


@if (ids != null)
{
    <h3 class="bg-primary">
        Empleados en session: @ids.Count
    </h3>
}
else
{
    <h3 class="bg-primary">
        Empleados en session: 0
    </h3>
}

@if (favoritos != null)
{
    <h3 class="bg-primary">
      Favoritos: @favoritos.Count
    </h3>
}
else
{
    <h3 class="bg-primary">
        Favoritos : 0
    </h3>
}


<p>
    <a asp-controller="Empleados"
       asp-action="EmpleadosAlmacenadosV5">
        Empleados Almacenados V5
    </a>
</p>
<li class="list-group-item">
    <a asp-controller="Empleados"
       asp-action="EmpleadosFavoritos">
        Favoritos
    </a>
</li>
<h3 class="text-danger">@ViewData["MENSAJE"]</h3>

<ul class="list-group">
    @foreach (Empleado emp in Model)
    {
        <li class="list-group-item list-group-item-danger">
            @emp.Apellido
            @*PREGUNTAMOS SI EXISTE EL EMPLEADO EN SESSION*@
            <a asp-controller="Empleados"
               asp-action="SessionEmpleadosV5"
               asp-route-idfavorito="@emp.IdEmpleado">
                Favorito
            </a>
            @*PREGUNTAMOS SI EXISTE EL EMPLEADO EN SESSION*@
            @if (ids == null)
            {
                //NO TENEMOS SESSION
                    <a asp-controller="Empleados"
                       asp-action="SessionEmpleadosV5"
                       asp-route-idEmpleado="@emp.IdEmpleado" class="btn btn-primary">
                        Almacenar empleado
                    </a>
            }
            else
            {
                //SI TENEMOS A ALGUIEN EN SESSION RECORRIENDO ESTA EN LA LISTA

                if (ids.Contains(emp.IdEmpleado))
                {
                    <img src="~/images/descarga.png" style="width: 50px;height: 50px"/>
                }
                else
                {
                    
                        <a asp-controller="Empleados"
                           asp-action="SessionEmpleadosV5"
                           asp-route-idEmpleado="@emp.IdEmpleado" class="btn btn-primary">
                            Almacenar empleado @emp.Apellido
                        </a>
                }
            }
        </li>   
    }
</ul>