
@model List<Empleado>

@{
    //NECESITAMOS SESSION EN LA VISTA PARA COMPROBAR SUS DATOS
    List<int> ids= Context.Session.GetObject<List<int>>("IDSEMPLEADOS");
    List<Empleado> favoritos=memoryCache.Get<List<Empleado>>("FAVORITOS");
}
<h1 style="color:orange">Empleados V5 Ok</h1>


<p>
    <a asp-controller="Empleados"
       asp-action="EmpleadosAlmacenadosV5">
        Empleados Almacenados V5
    </a>
</p>
<li class="list-group-item">
    <a asp-controller="Empleados"
       asp-action="EmpleadosFavoritos">
        Favoritos
    </a>
</li>
<h3 class="text-danger">@ViewData["MENSAJE"]</h3>

<ul class="list-group">
    @foreach (Empleado emp in Model)
    {
        <li class="list-group-item list-group-item-danger">
            @emp.Apellido
            @if (favoritos == null)
            {
                <a asp-controller="Empleados"
                   asp-action="SessionEmpleadosV5"
                   asp-route-idfavorito="@emp.IdEmpleado">
                    Favorito</a>
            }
            else
            {
                //DEBEMOS PREGUNTAR SI EXISTE EL EMPLEADO CON EL ID QUE HEMOS ALMACENADO
                //BUSCAMOS DENTRO DE FAVORITO SI ESTA NUESTRO EMPLEADO
                Empleado empFavorito = favoritos.Find(x => x.IdEmpleado == @emp.IdEmpleado);

                if (empFavorito == null)
                {
                    <a asp-controller="Empleados"
                       asp-action="SessionEmpleadosV5"
                       asp-route-idfavorito="@emp.IdEmpleado">
                        Favorito</a>
                }
                else
                {
                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#0bbc2e"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8" stroke="#0bbc2e" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                }
            }



            @*PREGUNTAMOS SI EXISTE EL EMPLEADO EN SESSION*@
            @if (ids == null)
            {
                //NO TENEMOS SESSION
                <a asp-controller="Empleados"
                   asp-action="SessionEmpleadosV5"
                   asp-route-idEmpleado="@emp.IdEmpleado" class="btn btn-primary">
                    Almacenar empleado
                </a>
            }
            else
            {
                //SI TENEMOS A ALGUIEN EN SESSION RECORRIENDO ESTA EN LA LISTA

                if (ids.Contains(emp.IdEmpleado))
                {
                    <img src="~/images/descarga.png" style="width: 50px;height: 50px"/>
                }
                else
                {

                    <a asp-controller="Empleados"
                       asp-action="SessionEmpleadosV5"
                       asp-route-idEmpleado="@emp.IdEmpleado" class="btn btn-primary">
                        Almacenar empleado @emp.Apellido
                    </a>
                }
            }
        </li>   
    }
</ul>